:root {
  --header-height: 94px;
  --scroll-bar-thumb-left: 0;
  --scroll-bar-thumb-right: 0;
  --scroll-bar-thumb-width: 0
}

:root[color-mode=day-theme] {
  --color-text-button: #fff;
  --color-text-footer-1: #fefefe;
  --color-text-footer-2: #e0e0e0;
  --color-text-footer-3: #bdbdbd;
  --color-text-header: #333;
  --color-text-hero: #fefefe;
  --color-text-counter-1: #333;
  --color-text-counter-2: #bdbdbd;
  --color-text-primary: #333;
  --color-text-secondary: #4f4f4f;
  --color-bg-header: #fff;
  --color-bg-footer: #333;
  --color-bg-primary: #fff;
  --color-bg-secondary: #f2f2f2;
  --color-bg-card: #fefefe;
  --color-bg-popup: #fefefe;
  --color-bg-scroll-bar: rgba(189, 189, 189, 0.57);
  --color-bg-toggler: #fff;
  --color-bg-slider-btn: #828282;
  --color-bg-map-mark-active: #eb5757;
  --color-bg-map-mark-idle: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
  --shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
  --shadow-card: 2px 4px 15px rgba(6, 12, 70, 0.1);
  --color-bg-menu: rgba(51, 51, 51, 0.95);
  --color-text-menu: #fefefe;
  --gradient-bg-from: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
  --gradient-bg-to: linear-gradient(286.89deg, #4bd8b5 -14.32%, #13d0ff 100.68%);
  --gradient-pseudo: #4bd8b5
}

:root[color-mode=night-theme] {
  --color-text-button: #fff;
  --color-text-footer-1: #fefefe;
  --color-text-footer-2: #e0e0e0;
  --color-text-footer-3: #bdbdbd;
  --color-text-header: #fefefe;
  --color-text-hero: #fefefe;
  --color-text-counter-1: #fefefe;
  --color-text-counter-2: #bdbdbd;
  --color-text-primary: #fefefe;
  --color-text-secondary: #f2f2f2;
  --color-bg-header: #333;
  --color-bg-footer: #333;
  --color-bg-primary: #333;
  --color-bg-secondary: #4f4f4f;
  --color-bg-card: #3c3c3c;
  --color-bg-popup: #333;
  --color-bg-scroll-bar: rgba(189, 189, 189, 0.57);
  --color-bg-toggler: #1b1b1b;
  --color-bg-slider-btn: #828282;
  --color-bg-map-mark-active: #eb5757;
  --color-bg-map-mark-idle: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
  --shadow: 2px 4px 15px rgba(230, 230, 230, 0.15);
  --shadow-card: 2px 4px 15px rgba(6, 12, 70, 0.1);
  --color-bg-menu: rgba(51, 51, 51, 0.95);
  --color-text-menu: #fefefe;
  --gradient-bg-from: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
  --gradient-bg-to: linear-gradient(286.89deg, #4bd8b5 -14.32%, #13d0ff 100.68%);
  --gradient-pseudo: #4bd8b5
}

.go-up-btn {
  position: fixed;
  z-index: 1000;
  bottom: 55px;
  right: 30px;
  width: 70px;
  height: 70px;
  border-radius: 70px;
  background: var(--gradient-bg-from);
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, .5);
  box-shadow: 0 20px 40px rgba(0, 0, 0, .5);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  cursor: pointer
}

.go-up-btn:hover {
  -webkit-transform: scale(.95);
  -ms-transform: scale(.95);
  transform: scale(.95);
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, .25);
  box-shadow: 0 10px 10px rgba(0, 0, 0, .25)
}

.go-up-btn:active {
  -webkit-transform: scale(.9);
  -ms-transform: scale(.9);
  transform: scale(.9);
  -webkit-box-shadow: none;
  box-shadow: none
}

.go-up-btn a {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
  color: var(--color-text-footer-1);
  text-decoration: none;
  font-family: roboto;
  font-weight: 700;
  font-size: 22px
}

.show-go-up-btn {
  opacity: .9;
  visibility: visible
}

header {
  background-color: var(--color-bg-header);
  -webkit-box-shadow: 0 4px 8px rgba(44, 101, 77, .08);
  box-shadow: 0 4px 8px rgba(44, 101, 77, .08)
}

.header__container {
  width: 100%;
  height: var(--header-height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.header__logo {
  color: var(--color-text-header)
}

.header__nav {
  position: fixed;
  top: 0;
  left: 100%;
  bottom: 0;
  width: 100%;
  z-index: 100;
  background-color: var(--color-bg-menu);
  -webkit-transition: left .3s;
  -o-transition: left .3s;
  transition: left .3s;
  overflow: auto
}

.header__nav.open {
  left: 0
}

.header__nav.open .header__nav-list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

.header__nav-list {
  position: relative;
  z-index: 101;
  margin-top: var(--header-height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start
}

.header__nav-item {
  position: relative;
  padding-top: 30px;
  pointer-events: auto;
  -webkit-transition: width .2s ease-in-out;
  -o-transition: width .2s ease-in-out;
  transition: width .2s ease-in-out
}

.header__nav-link {
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  text-decoration: none;
  color: var(--color-text-menu);
  display: block;
  text-align: center
}

.header__theme-switcher-container {
  position: relative;
  z-index: 1001;
  margin-left: auto;
  width: 54px;
  height: 30px;
  cursor: pointer
}

.header__theme-switcher-container input[type=checkbox] {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer
}

.header__theme-switcher-container input[type=checkbox]:checked+.header__theme-switcher::after {
  left: calc(100% - 20px)
}

.header__theme-switcher {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 190px;
  border: 6px solid transparent;
  background-color: var(--color-bg-secondary);
  -webkit-transition-duration: .2s;
  -o-transition-duration: .2s;
  transition-duration: .2s
}

.header__theme-switcher::after {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--color-bg-toggler);
  -webkit-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
  content: "";
  -webkit-transition-duration: inherit;
  -o-transition-duration: inherit;
  transition-duration: inherit;
  -webkit-transition-property: left;
  -o-transition-property: left;
  transition-property: left;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out
}

.header__theme-switcher.no-transition {
  -webkit-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s
}

.header__burger {
  position: relative;
  z-index: 1001;
  width: 40px;
  height: 21px;
  display: block;
  justify-self: flex-end;
  cursor: pointer;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out
}

.header__burger span {
  position: absolute;
  height: 3px;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: var(--color-text-header)
}

.header__burger::after,
.header__burger::before {
  position: absolute;
  height: 3px;
  right: 0;
  background-color: var(--color-text-header);
  content: "";
  -webkit-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right
}

.header__burger::before {
  left: 0;
  top: 0
}

.header__burger::after {
  width: 33px;
  bottom: 0
}

footer {
  padding: 50px 0 27px;
  background-color: var(--color-bg-footer);
  color: var(--color-text-footer-1)
}

.footer__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start
}

.footer__container>* {
  margin-bottom: 50px
}

.footer__logo-container {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  height: 55px
}

.footer__logo {
  color: var(--color-text-footer-1);
  text-align: left
}

.footer__nav-container {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%
}

.footer__contact-us-container {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%
}

.footer__contacts {
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 4;
  order: 4;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  font-size: 14px;
  line-height: 16px
}

.footer__donate-container {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  -webkit-box-ordinal-group: 6;
  -ms-flex-order: 5;
  order: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start
}

.footer__nav-list {
  width: 378px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start
}

.footer__nav-item+.footer__nav-item {
  margin-top: 5px
}

.footer__nav-link {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-text-footer-1)
}

.footer__contact-us-title {
  color: var(--color-text-footer-1);
  font-weight: 900;
  font-size: 20px;
  line-height: 23px
}

.footer__contact-us-form {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  max-width: 385px;
  color: var(--color-text-footer-3)
}

.footer__contact-us-form>:not(:nth-child(1)) {
  margin-top: 21px
}

.footer__contact-us-container input {
  font-size: 14px;
  line-height: 16px
}

.footer__contact-us-container label {
  margin-left: 6px;
  font-size: 12px;
  line-height: 14px;
  color: var(--color-text-footer-3);
  cursor: pointer
}

.footer__contact-us-container input[type=email],
.footer__contact-us-container input[type=text] {
  padding: 0;
  width: 100%;
  height: 26px;
  display: block;
  color: var(--color-text-footer-2);
  background-color: transparent;
  outline: 0;
  border: none;
  border-bottom: 1px solid var(--color-text-footer-2)
}

.footer__contact-us-container input[type=checkbox] {
  position: relative;
  color: 1px solid var(--color-text-footer-3);
  cursor: pointer
}

.footer__contact-us-container input[type=checkbox]::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 13px;
  height: 13px;
  border: 1px solid var(--color-text-footer-3);
  background-color: var(--color-bg-footer);
  content: ""
}

.footer__contact-us-container input[type=checkbox]:checked::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  width: 13px;
  height: 13px;
  text-align: center;
  color: var(--color-text-footer-2);
  content: "\2718"
}

.footer__contact-us-container fieldset {
  padding: 0
}

.footer__contact-us-container #textarea-set {
  padding: 4px;
  width: inherit;
  border: 1px solid var(--color-text-footer-3);
  border-radius: 3px
}

.footer__contact-us-container #textarea-set legend {
  padding: 0 5px;
  margin-left: 2px;
  font-size: 14px;
  line-height: 16px;
  color: var(--color-text-footer-3)
}

.footer__contact-us-container #textarea-set textarea {
  width: 100%;
  height: 90px;
  font-size: 12px;
  line-height: 14px;
  color: var(--color-text-footer-2);
  background-color: transparent;
  border: none;
  outline: 0;
  resize: none
}

.footer__contact-us-container #submit {
  padding: 0;
  margin-right: 12px;
  -ms-flex-item-align: end;
  align-self: flex-end;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--color-text-footer-1);
  background-color: transparent;
  border: none;
  cursor: pointer
}

.footer__contact-us-container #submit span {
  margin-left: 25px;
  display: inline-block;
  width: 50px;
  height: 8px;
  background-image: url(../assets/icons/arrow-footer.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat
}

.footer__contacts-list {
  margin-top: 35px
}

.footer__contacts-item:nth-child(3) {
  margin-top: 20px
}

.footer__contacts-item:nth-child(2n+2) {
  margin-top: 5px
}

.footer__contacts-title {
  text-transform: uppercase;
  color: var(--color-text-footer-1);
  font-family: roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px
}

.footer__contacts-item a {
  text-decoration: none;
  color: var(--color-text-footer-1);
  font-size: 14px;
  line-height: 16px
}

.footer__social-list {
  margin-top: 20px;
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.footer__social-link {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px
}

.footer__donate-btn {
  width: 275px !important
}

.footer__copyright-block {
  font-size: 12px;
  line-height: 14px;
  color: var(--color-text-footer-3);
  border-top: 1px solid var(--color-text-footer-3)
}

.footer__author {
  margin-top: 28px
}

.footer__company {
  margin-top: 5px
}

@font-face {
  font-family: roboto;
  font-weight: 400;
  src: url(../assets/fonts/roboto-v20-latin-regular.woff) format("woff");
  src: url(../assets/fonts/roboto-v20-latin-regular.woff2) format("woff2");
  src: url(../assets/fonts/roboto-v20-latin-regular.ttf) format("truetype");
  font-display: swap
}

@font-face {
  font-family: roboto;
  font-weight: 500;
  src: url(../assets/fonts/roboto-v20-latin-500.woff) format("woff");
  src: url(../assets/fonts/roboto-v20-latin-500.woff2) format("woff2");
  src: url(../assets/fonts/roboto-v20-latin-500.ttf) format("truetype");
  font-display: swap
}

@font-face {
  font-family: roboto;
  font-weight: 700;
  src: url(../assets/fonts/roboto-v20-latin-700.woff) format("woff");
  src: url(../assets/fonts/roboto-v20-latin-700.woff2) format("woff2");
  src: url(../assets/fonts/roboto-v20-latin-700.ttf) format("truetype");
  font-display: swap
}

@font-face {
  font-family: roboto;
  font-weight: 900;
  src: url(../assets/fonts/roboto-v20-latin-900.woff) format("woff");
  src: url(../assets/fonts/roboto-v20-latin-900.woff2) format("woff2");
  src: url(../assets/fonts/roboto-v20-latin-900.ttf) format("truetype");
  font-display: swap
}

body {
  position: relative;
  font-family: roboto;
  font-weight: 400;
  background-color: var(--color-bg-primary);
  overflow: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

html {
  scroll-behavior: smooth
}

.wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1920px;
  height: 100%
}

.inner-wrapper {
  margin: 0 auto;
  max-width: 1200px
}

.logo {
  max-width: 60px;
  font-weight: 900;
  text-decoration: none;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: .08em;
  text-transform: lowercase
}

.logo__strong {
  display: block;
  font-size: 36px;
  line-height: 28px
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0)
}

.gradient-btn__block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 245px;
  height: 55px;
  text-decoration: none;
  background: var(--gradient-bg-from);
  border-radius: 3px;
  cursor: pointer;
  overflow: hidden
}

.gradient-btn__block::after {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  background: var(--gradient-bg-to);
  opacity: 0;
  content: "";
  -webkit-transition: .8s;
  -o-transition: .8s;
  transition: .8s
}

.gradient-btn__block:hover::after {
  opacity: 1
}

.gradient-btn__ico {
  position: relative;
  z-index: 3;
  width: 32px;
  height: 32px;
  background-image: url(../assets/icons/play-btn.svg);
  background-size: contain;
  background-position: center
}

.gradient-btn__label {
  position: relative;
  z-index: 3;
  margin-left: 5px;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-text-button)
}

.slider {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  --thumb-width: 0
}

.slider__outer-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  height: 100%
}

.slider__wrapper {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  position: relative;
  height: 100%;
  overflow: hidden
}

.slider__container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: left .7s;
  -o-transition: left .7s;
  transition: left .7s
}

.slider__item {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%
}

.slider__item-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 23px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--color-text-button)
}

.slider__item-brief {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%
}

.slider__item-link {
  margin-top: 15px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  line-height: 24px;
  cursor: pointer
}

.slider__item-link--watch-online>.slider__item-link-ico {
  border: 1px solid var(--gradient-pseudo)
}

.slider__item-link--watch-online>.slider__item-link-ico::after {
  left: 52%;
  width: 8px;
  height: 8px;
  background-image: url(../assets/icons/play.svg)
}

.slider__item-link--watch-online>.slider__item-link-label {
  color: var(--gradient-pseudo)
}

.slider__item-link--donate>.slider__item-link-ico {
  border: 1px solid var(--color-text-button)
}

.slider__item-link--donate>.slider__item-link-ico::after {
  left: 49%;
  width: 8px;
  height: 17px;
  background-image: url(../assets/icons/donate.svg)
}

.slider__item-link--donate>.slider__item-link-label {
  color: var(--color-text-button)
}

.slider__item-link-ico {
  position: relative;
  margin-right: 4px;
  width: 24px;
  height: 24px;
  display: inline-block;
  border-radius: 50%
}

.slider__item-link-ico::after {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  content: ""
}

.slider__item-link-label {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 24px
}

.slider__item-link-label:hover {
  text-decoration: underline
}

.slider__pagination {
  margin-top: 30px;
  font-weight: 900
}

.slider__pagination-num {
  font-size: 24px;
  line-height: 28px;
  color: var(--color-text-counter-1)
}

.slider__pagination-sum {
  margin-left: -4px;
  font-size: 14px;
  line-height: 16px;
  color: var(--color-text-counter-2)
}

.slider__scroll-bar-wrapper {
  position: relative;
  margin-top: 10px;
  width: 245px;
  height: 5px
}

.slider__scroll-thumb {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  left: 0;
  right: 100%;
  height: 10px;
  background-color: var(--color-text-primary);
  -webkit-transition-duration: .4s;
  -o-transition-duration: .4s;
  transition-duration: .4s;
  -webkit-transition-property: left;
  -o-transition-property: left;
  transition-property: left;
  pointer-events: none
}

.slider__scroll-bar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: inherit;
  height: inherit;
  background-color: var(--color-bg-scroll-bar);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  cursor: pointer
}

.slider__scroll-bar::-webkit-slider-thumb {
  width: var(--thumb-width);
  height: 20px;
  background-color: transparent;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer
}

.slider__scroll-bar::-moz-range-thumb {
  width: var(--thumb-width);
  height: 10px;
  background-color: var(--color-text-primary);
  border: 0;
  border-radius: 0;
  cursor: pointer
}

.slider__scroll-bar::-ms-thumb {
  width: var(--thumb-width);
  height: 20px;
  background-color: var(--color-text-primary);
  appearance: none;
  cursor: pointer
}

.slider__btn-left,
.slider__btn-right {
  position: absolute;
  top: 0;
  width: 40px;
  bottom: 0;
  cursor: pointer;
  display: none
}

.slider__btn-left::after,
.slider__btn-left::before,
.slider__btn-right::after,
.slider__btn-right::before {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  background: var(--color-bg-slider-btn);
  width: 22px;
  height: 5px;
  border-radius: 3px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s
}

.slider__btn-left:hover::after,
.slider__btn-left:hover::before,
.slider__btn-right:hover::after,
.slider__btn-right:hover::before {
  background: var(--color-text-primary)
}

.slider__btn-left:active::after,
.slider__btn-left:active::before,
.slider__btn-right:active::after,
.slider__btn-right:active::before {
  background: var(--gradient-pseudo)
}

.slider__btn-left {
  right: 100%
}

.slider__btn-left::after,
.slider__btn-left::before {
  -webkit-transform-origin: 2px 2px;
  -ms-transform-origin: 2px 2px;
  transform-origin: 2px 2px
}

.slider__btn-left::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg)
}

.slider__btn-left::after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg)
}

.slider__btn-right {
  left: 100%
}

.slider__btn-right::after,
.slider__btn-right::before {
  -webkit-transform-origin: 20px 2px;
  -ms-transform-origin: 20px 2px;
  transform-origin: 20px 2px
}

.slider__btn-right::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg)
}

.slider__btn-right::after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg)
}

.slider__btn-down,
.slider__btn-up {
  position: absolute;
  left: 0;
  height: 30px;
  right: 0;
  cursor: pointer;
  display: block
}

.slider__btn-down::after,
.slider__btn-down::before,
.slider__btn-up::after,
.slider__btn-up::before {
  position: absolute;
  left: 50%;
  content: "";
  background: var(--color-bg-slider-btn);
  width: 5px;
  height: 17px;
  border-radius: 3px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s
}

.slider__btn-down:hover::after,
.slider__btn-down:hover::before,
.slider__btn-up:hover::after,
.slider__btn-up:hover::before {
  background: var(--color-text-primary)
}

.slider__btn-down:active::after,
.slider__btn-down:active::before,
.slider__btn-up:active::after,
.slider__btn-up:active::before {
  background: var(--gradient-pseudo)
}

.slider__btn-up {
  top: 0
}

.slider__btn-up::after,
.slider__btn-up::before {
  -webkit-transform-origin: 2.5px 2px;
  -ms-transform-origin: 2.5px 2px;
  transform-origin: 2.5px 2px;
  top: 5px
}

.slider__btn-up::before {
  -webkit-transform: translateX(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg)
}

.slider__btn-up::after {
  -webkit-transform: translateX(-50%) rotate(-45deg);
  -ms-transform: translateX(-50%) rotate(-45deg);
  transform: translateX(-50%) rotate(-45deg)
}

.slider__btn-down {
  bottom: 5px
}

.slider__btn-down::after,
.slider__btn-down::before {
  -webkit-transform-origin: 2.5px 15px;
  -ms-transform-origin: 2.5px 15px;
  transform-origin: 2.5px 15px;
  bottom: 0
}

.slider__btn-down::before {
  -webkit-transform: translateX(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg)
}

.slider__btn-down::after {
  -webkit-transform: translateX(-50%) rotate(-45deg);
  -ms-transform: translateX(-50%) rotate(-45deg);
  transform: translateX(-50%) rotate(-45deg)
}

section:nth-child(2n+3) {
  background-color: var(--color-bg-secondary)
}

section:nth-child(1n+2) {
  padding: 50px 0
}

.section__text {
  font-size: 14px;
  line-height: 16.4px;
  color: var(--color-text-secondary)
}

.section__title-h3 {
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  color: var(--color-text-primary)
}

.section__title-h4 {
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  color: var(--color-text-primary)
}

.hero-section {
  position: relative;
  padding-bottom: 50px;
  width: 100%;
  height: 670px;
  background-image: url(../assets/images/hero-image.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden
}

.hero-section__wrapper {
  position: relative;
  height: inherit
}

.hero-section__container {
  position: relative;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 100%;
  height: 100%
}

.hero-section__title {
  max-width: 800px;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  color: var(--color-text-hero)
}

.hero-section__subcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.hero-section__button-container {
  padding-top: 40px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start
}

.hero-section__slide-container {
  position: relative;
  margin-top: 35px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  -ms-flex-item-align: end;
  align-self: flex-end;
  height: 260px
}

.hero-section__slide-ruler {
  position: absolute;
  top: 44%;
  left: 7px;
  width: 2000px;
  height: 1px;
  background-color: var(--color-text-hero)
}

.hero-section__slide-ruler::after,
.hero-section__slide-ruler::before {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  content: ""
}

.hero-section__slide-ruler::before {
  width: 5px;
  height: 5px;
  background-color: var(--color-text-hero)
}

.hero-section__slide-ruler::after {
  width: 13px;
  height: 13px;
  border: 1px solid var(--color-text-hero)
}

.hero-section__slider {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 420px
}

.hero-section__slider-outer-wrapper {
  position: relative
}

.hero-section__slider-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 245px;
  overflow: visible
}

.hero-section__slider-list {
  top: 50%;
  left: -100%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%)
}

.hero-section__slider-item {
  margin: 0 23px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 140px;
  flex: 0 0 140px;
  height: 200px
}

.hero-section__slider-item--active {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  height: 350px
}

.hero-section__slider-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 5px
}

.hero-section__slider-pagination-num {
  color: var(--color-text-hero)
}

.hero-section__scroll-thumb {
  background-color: var(--color-text-hero)
}

.hero-section__social-list {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

.hero-section__social-item {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content
}

.hero-section__social-item+.hero-section__social-item {
  margin-top: 15px
}

.hero-section__social-link {
  position: relative;
  display: block;
  width: 20px
}

.icon-ig,
.icon-tw,
.icon-vk,
.icon-yt {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat
}

.icon-ig {
  background-image: url(../assets/icons/ig.svg);
  height: 20px
}

.icon-tw {
  background-image: url(../assets/icons/tw.svg);
  height: 17px
}

.icon-yt {
  background-image: url(../assets/icons/yt.svg);
  height: 14px
}

.icon-vk {
  background-image: url(../assets/icons/vk.svg);
  height: 12px
}

.how-it-works__wrapper {
  max-width: 790px
}

.how-it-works__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.how-it-works__container>:nth-child(1n+2) {
  margin-top: 30px
}

.how-it-works__title {
  -ms-flex-item-align: start;
  align-self: flex-start
}

.how-it-works__slider {
  height: 400px
}

.how-it-works__slider-item {
  height: 320px
}

.how-it-works__slider-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: left;
  object-position: left;
  border-radius: 5px
}

.our-ideas__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.our-ideas__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  max-width: 275px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.our-ideas__item+.our-ideas__item {
  margin-left: 0;
  margin-top: 50px
}

.our-ideas__item>:nth-child(1n+2) {
  margin-top: 15px
}

.our-ideas__icon {
  width: 80px;
  height: 80px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat
}

.our-ideas__icon--01 {
  background-image: url(../assets/icons/problem-solving.svg)
}

.our-ideas__icon--02 {
  background-image: url(../assets/icons/achievement.svg)
}

.our-ideas__icon--03 {
  background-image: url(../assets/icons/love.svg)
}

.our-ideas__text {
  min-height: none
}

.pets-in-zoo__container {
  margin: 0 -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.pets-in-zoo__container>:nth-child(1n+2) {
  margin-top: 30px
}

.pets-in-zoo__title {
  -ms-flex-item-align: center;
  align-self: center
}

.pets-in-zoo__slider {
  margin-top: 35px !important;
  height: 400px
}

.pets-in-zoo__slider-item {
  padding: 0 8px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
  height: 300px
}

.pets-in-zoo__slider-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  border-radius: 5px
}

.pets-in-zoo__slider-item-content {
  padding: 0 38px 35px
}

.donate__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.donate__text {
  margin-top: 30px
}

.donate__methods-container {
  margin-top: 93px;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.donate__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.donate__item--circle {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 245px;
  height: 245px;
  border-radius: 50%;
  background: var(--gradient-bg-from)
}

.donate__item--circle::before {
  position: absolute;
  left: 3px;
  right: 3px;
  top: 3px;
  bottom: 3px;
  z-index: 20;
  border-radius: 50%;
  background: var(--color-bg-secondary);
  content: ""
}

.donate__item--arrow {
  position: relative;
  margin: 30px 0;
  padding: 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40px;
  flex: 0 0 40px;
  width: 16px;
  overflow: hidden
}

.donate__item--arrow::after {
  position: absolute;
  right: 50%;
  bottom: 0;
  -webkit-transform: rotate(90deg) translate(0, 50%);
  -ms-transform: rotate(90deg) translate(0, 50%);
  transform: rotate(90deg) translate(0, 50%);
  -webkit-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  transform-origin: right bottom;
  background-image: url(../assets/icons/arrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 105px;
  height: 16px;
  content: ""
}

.donate__item>* {
  max-width: 140px;
  text-align: center
}

.donate__item>:last-child {
  margin-top: 8px
}

.donate__content {
  position: relative;
  z-index: 30;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.donate__content>:nth-child(2) {
  margin-top: 15px
}

.donate__icon {
  width: 70px;
  height: 60px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat
}

.donate__icon--01 {
  background-image: url(../assets/icons/visa.svg)
}

.donate__icon--02 {
  background-image: url(../assets/icons/zoo.svg)
}

.donate__icon--03 {
  background-image: url(../assets/icons/bamboo.svg)
}

.donate__link {
  margin-top: 60px
}

.testimonials__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 -15px
}

.testimonials__container>:nth-child(1n+2) {
  margin-top: 30px
}

.testimonials__title {
  -ms-flex-item-align: center;
  align-self: center
}

.testimonials__slider {
  margin-top: 46px !important;
  height: 420px
}

.testimonials__slider-item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  padding: 15px
}

.testimonials__slider-card {
  background-color: var(--color-bg-card);
  height: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 50px 10px 0;
  -webkit-box-shadow: var(--shadow-card);
  box-shadow: var(--shadow-card)
}

.testimonials__slider-card>:not(:nth-child(1)) {
  margin-top: 15px
}

.testimonials__slider-img {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover
}

.testimonials__link {
  margin-top: 33px !important
}

.map--map-page {
  padding-top: 20px !important
}

.map__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.map__interactive-map-container {
  position: relative;
  margin-top: 60px;
  width: 100%;
  height: auto
}

.map__mark-item-wrapper {
  position: absolute;
  width: 67px;
  height: 94px;
  -webkit-filter: drop-shadow(var(--shadow));
  filter: drop-shadow(var(--shadow))
}

.map__mark-item-wrapper:hover .map__mark-popup-block {
  visibility: visible;
  opacity: 1
}

.map__mark-popup-block {
  position: absolute;
  bottom: 100%;
  left: 0;
  -webkit-transform: translate(-30%, -5%);
  -ms-transform: translate(-30%, -5%);
  transform: translate(-30%, -5%);
  padding: 40px;
  width: 430px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--color-bg-popup);
  border-radius: 8px;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: visibility, opacity .2s .2s;
  -o-transition: visibility, opacity .2s .2s;
  transition: visibility, opacity .2s .2s
}

.map__mark-popup-img {
  margin-right: 20px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 65px;
  height: 65px;
  background-image: url(../assets/images/pets-eagle-2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%
}

.map__mark-popup-text {
  margin-top: 5px
}

.map__mark-item {
  position: relative;
  background: var(--color-bg-map-mark-idle)
}

.map__mark-item:hover::after {
  width: 200%
}

.map__mark-item::after {
  position: absolute;
  top: 33%;
  left: 50%;
  width: 5%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
  background: var(--color-bg-map-mark-active);
  border-radius: 50%;
  content: "";
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s
}

.map__mark-item--active {
  background: var(--color-bg-map-mark-active)
}

.map__mark-item--clip-path {
  -webkit-clip-path: url(#map__mark-clip-path);
  clip-path: url(#map__mark-clip-path)
}

.map__mark-ico {
  width: 100%;
  height: 100%
}

.map__link {
  margin-top: 31px
}

.map__link--map-page {
  margin-top: 45px
}

#map__mark-alligator,
#map__mark-eagle,
#map__mark-gorilla,
#map__mark-panda {
  position: absolute;
  -webkit-transform: translate(-50%, -100%);
  -ms-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
  cursor: pointer
}

#map__mark-alligator::after,
#map__mark-eagle::after,
#map__mark-gorilla::after,
#map__mark-panda::after {
  position: absolute;
  top: 12%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 43px;
  height: 43px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  content: "";
  pointer-events: none
}

#map__mark-panda {
  top: 37%;
  left: 77.2%
}

#map__mark-panda .map__mark-popup-img,
#map__mark-panda::after {
  background-image: url(../assets/images/pets-panda-mini.jpg)
}

#map__mark-gorilla {
  top: 56.8%;
  left: 50.5%
}

#map__mark-gorilla .map__mark-popup-img,
#map__mark-gorilla::after {
  background-image: url(../assets/images/pets-gorilla-2-mini.jpg)
}

#map__mark-alligator {
  top: 39.5%;
  left: 23.2%
}

#map__mark-alligator .map__mark-popup-img,
#map__mark-alligator::after {
  background-image: url(../assets/images/pets-alligator-mini.jpg)
}

#map__mark-eagle {
  top: 34%;
  left: 13%
}

#map__mark-eagle .map__mark-popup-img,
#map__mark-eagle::after {
  background-image: url(../assets/images/pets-eagle-1-mini.jpg)
}

.favorite {
  padding-top: 60px
}

.favorite__wrapper {
  max-width: 790px;
  margin: 0 auto
}

.favorite__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.favorite__text {
  margin-top: 20px
}

.favorite__slider {
  margin-top: 60px
}

.favorite__slider-outer-wrapper {
  padding: 0 40px
}

.favorite__btn-left {
  left: 0;
  right: unset
}

.favorite__btn-right {
  right: 0;
  left: unset
}

.favorite__slider-wrapper {
  position: relative;
  width: 100%;
  height: 157px
}

.favorite__slider-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.favorite__slider-item {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 137px;
  flex: 0 0 137px;
  height: 137px;
  cursor: pointer;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s
}

.favorite__slider-item::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 108px;
  height: 108px;
  background: -webkit-gradient(linear, left top, right top, from(#07eee0), to(#df496d));
  background: -o-linear-gradient(left, #07eee0, #df496d);
  background: linear-gradient(90deg, #07eee0, #df496d);
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  content: ""
}

.favorite__slider-item::after {
  position: absolute;
  --border-width: 3px;
  top: var(--border-width);
  left: var(--border-width);
  bottom: var(--border-width);
  right: var(--border-width);
  background: var(--color-bg-primary);
  border-radius: 50%;
  content: ""
}

.favorite__slider-item--active,
.favorite__slider-item:hover {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 157px;
  flex: 0 0 157px;
  height: 157px
}

.favorite__slider-item--active::before,
.favorite__slider-item:hover::before {
  width: 157px;
  height: 157px;
  opacity: 1
}

.favorite__slider-item--active .favorite__slider-img,
.favorite__slider-item:hover .favorite__slider-img {
  width: 137px;
  height: 137px
}

.favorite__slider-img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 108px;
  height: 108px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s
}

.favorite__slider-pagination {
  margin-top: 33px
}

.favorite__scroll-bar-wrapper {
  margin-top: 13px !important
}

.zoos-page {
  padding: 60px 0 100px
}

.zoos-page__side-slider-container {
  position: absolute;
  top: 0;
  left: 26px;
  right: 0;
  bottom: 0
}

.zoos-page__side-slider {
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
  padding: 40px 0;
  display: inline-block;
  width: 160px;
  height: 600px
}

.zoos-page__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden
}

.zoos-page__slider-list {
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: left .7s;
  -o-transition: left .7s;
  transition: left .7s
}

.zoos-page__slider-item {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 108px;
  flex: 0 0 108px;
  width: 108px;
  cursor: pointer;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s
}

.zoos-page__slider-item+.zoos-page__slider-item {
  margin-top: 10px
}

.zoos-page__slider-item::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#07eee0), to(#df496d));
  background: -o-linear-gradient(left, #07eee0, #df496d);
  background: linear-gradient(90deg, #07eee0, #df496d);
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  content: ""
}

.zoos-page__slider-item::after {
  position: absolute;
  --border-width: 3px;
  top: var(--border-width);
  left: var(--border-width);
  bottom: var(--border-width);
  right: var(--border-width);
  background: var(--color-bg-primary);
  border-radius: 50%;
  content: ""
}

.zoos-page__slider-item--active,
.zoos-page__slider-item:hover {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 157px;
  flex: 0 0 157px;
  width: 157px
}

.zoos-page__slider-item--active::before,
.zoos-page__slider-item:hover::before {
  opacity: 1
}

.zoos-page__slider-item--active .zoos-page__slider-img,
.zoos-page__slider-item:hover .zoos-page__slider-img {
  width: 138px;
  height: 138px
}

.zoos-page__slider-img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 108px;
  height: 108px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s
}

.zoos-page__content-container {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start
}

.zoos-page__video-block {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 790px;
  flex: 0 1 790px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start
}

.zoos-page__main-video-block,
.zoos-page__preview-video-block {
  position: relative;
  padding-bottom: 56.25%;
  height: 0
}

.zoos-page__main-video-block {
  width: 100%
}

.zoos-page__main-video-iframe,
.zoos-page__preview-video-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px
}

.zoos-page__preview-container {
  margin-top: 28px;
  position: relative;
  width: 100%;
  height: 145px
}

.zoos-page__preview-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row
}

.zoos-page__preview-item {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 246px;
  flex: 0 1 246px;
  height: 100%;
  cursor: pointer
}

.zoos-page__preview-item+.zoos-page__preview-item {
  margin-left: 26px
}

.zoos-page__preview-item::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: 0 0;
  content: ""
}

.zoos-page__text-block {
  margin-left: 30px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 380px;
  flex: 0 1 380px
}

.zoos-page__title-h4:not(:first-child) {
  margin-top: 14px
}

.zoos-page__text {
  margin-top: 7px
}

.zoos-page__link {
  margin-top: 35px;
  width: 194px
}

.zoos-page__preview-pagination-block {
  margin-top: 27px;
  width: 37px;
  height: 11px
}

.zoos-page__preview-pagination-list {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.zoos-page__preview-pagination-item {
  width: 8px;
  height: 8px;
  background: var(--gradient-bg-from);
  border-radius: 50%;
  cursor: pointer
}

.zoos-page__preview-pagination-item--active {
  width: 11px;
  height: 11px
}

.zoos-page__preview-pagination-item:hover {
  background: var(--gradient-bg-to)
}

@media only screen and (min-width:640px) {
  footer {
    padding: 90px 0 48px
  }

  .footer__logo-container {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%
  }

  .footer__nav-container {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3
  }

  .footer__contact-us-container {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4
  }

  .footer__contacts {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5
  }

  .footer__donate-container {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
  }

  .wrapper {
    padding: 0 20px
  }

  section:nth-child(1n+2) {
    padding: 100px 0
  }

  .hero-section {
    padding-bottom: 110px;
    height: 940px
  }

  .hero-section__title {
    font-size: 64px;
    line-height: 75px
  }

  .hero-section__slide-container {
    margin-top: 50px;
    height: 420px
  }

  .pets-in-zoo__slider-item {
    padding: 0 10px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 35%;
    flex: 0 0 35%
  }

  .testimonials__slider-card {
    padding: 50px 75px 0
  }
}

@media only screen and (min-width:1200px) {
  .header__nav {
    position: relative;
    top: unset;
    left: unset;
    bottom: unset;
    right: unset;
    background-color: transparent;
    display: block;
    overflow: unset;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 572px;
    flex: 0 1 572px
  }

  .header__nav-list {
    margin-top: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
  }

  .header__nav-item {
    padding-top: 0
  }

  .header__nav-item::after {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color-text-header);
    content: "";
    -webkit-transition: inherit;
    -o-transition: inherit;
    transition: inherit
  }

  .header__nav-item--active::after,
  .header__nav-item:hover::after {
    width: calc(100% + 5px)
  }

  .header__nav-item--active {
    pointer-events: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none
  }

  .header__nav-item--active .header__nav-link {
    font-weight: 900 !important
  }

  .header__nav-link {
    font-size: 16px;
    line-height: 19px;
    color: var(--color-text-header);
    text-align: left
  }

  .header__theme-switcher-container {
    margin-right: 0;
    margin-left: 0
  }

  .header__burger {
    display: none
  }

  footer {
    padding: 98px 0 52px
  }

  .footer__nav-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
  }

  .footer__nav-item+.footer__nav-item {
    margin-top: 0
  }

  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: 520px
  }

  .footer__logo-container {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 50%
  }

  .footer__nav-container {
    line-height: 55px;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    width: 50%
  }

  .footer__contact-us-container {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    width: 50%
  }

  .footer__contacts {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
    width: 50%
  }

  .footer__donate-container {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
    width: 50%;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
  }

  .wrapper {
    padding: 0 150px
  }

  .slider__btn-left,
  .slider__btn-right {
    display: block
  }

  .hero-section__title {
    font-size: 89px;
    line-height: 104px
  }

  .hero-section__subcontainer {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap
  }

  .hero-section__button-container {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .hero-section__slide-container {
    margin-top: 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 720px;
    flex: 0 1 720px
  }

  .our-ideas__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
  }

  .our-ideas__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 380px;
    flex: 0 1 380px;
    max-width: unset
  }

  .our-ideas__item+.our-ideas__item {
    margin-left: 30px;
    margin-top: 0
  }

  .our-ideas__text {
    min-height: 80px
  }

  .pets-in-zoo__slider {
    height: 480px
  }

  .pets-in-zoo__slider-item {
    padding: 0 15px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    height: 400px
  }

  .donate__methods-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
  }

  .donate__item--arrow {
    margin: 0 17px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 105px;
    flex: 1 1 105px;
    max-width: 105px;
    height: 16px
  }

  .donate__item--arrow::after {
    top: 50%;
    right: 0;
    bottom: unset;
    -webkit-transform: rotate(0) translate(0, -50%);
    -ms-transform: rotate(0) translate(0, -50%);
    transform: rotate(0) translate(0, -50%);
    width: 105px;
    height: 16px
  }

  .testimonials__slider-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%
  }
}

@media only screen and (min-width:1920px) {
  footer {
    padding: 98px 0 72px
  }

  .footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    max-height: unset
  }

  .footer__container>* {
    margin-bottom: 60px
  }

  .footer__logo-container {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 51%;
    flex: 0 0 51%;
    width: unset
  }

  .footer__nav-container {
    line-height: 55px;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 32%;
    flex: 0 0 32%;
    width: unset
  }

  .footer__contact-us-container {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 51%;
    flex: 0 0 51%;
    width: unset
  }

  .footer__contacts {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 49%;
    flex: 0 0 49%;
    width: unset
  }

  .footer__donate-container {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: unset
  }

  .donate__item--arrow {
    margin: 0 62px
  }
}